body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}
button{
    /* margin-top: 10px; */
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(108, 92, 92, 0.203);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 10pt;
    transition: background-color 1s ease, height 1s ease, width 1s ease, font-size 1s ease;
}

button:hover{
    background-color: rgba(202, 113, 23, 0.998);
    width: 150px;
    height: 45px;
    font-size: 15pt;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}